@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,500;1,900&family=Roboto:ital,wght@0,300;0,400;0,700;1,100&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
}

.logo {
  position: absolute;
  display: flex;
  color: #6070ff;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: #6070ff;
  font-size: 18px;
  float: left;
}

.img-logo {
  position: absolute;
  display: flex;
  margin-left: 80%;
}

.main-section {
  min-width: 375px;
  padding-top: 120px;
  padding-bottom: 40%;
  padding-left: 24px;
  border-bottom-left-radius: 6rem;
  background-image: url("images/header-shapes\ mobile@2x.png");
  background-repeat: no-repeat;
  background-position-y: center;
}

.primary-text {
  width: 327px;
  height: 150px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.my-experience {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h3 {
  width: 117px;
  height: 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  text-decoration: none;
}

.icons {
  display: flex;
  justify-content: flex-start;
  margin-left: -40px;
  gap: 10px;
  list-style-type: none;
}

@media (min-width: 375px) and (max-width: 768px) {
  body {
    background-color: white;
  }
}

.main-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.works {
  width: 295px;
  height: 220px;
  background: url(blog_drbl_4x.png);
  border-radius: 8px;
}

.project-title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  padding-top: 2px;
}

.canopy {
  padding-top: 5px;
  padding-right: 3px;
  font-family: "poppins", sans-serif;
}

span img {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.pro-description {
  width: 295px;
  height: 76px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.main-languages {
  display: flex;
  border-radius: 8px;
  gap: 12px;
  margin-left: -8px;
  list-style-type: none;
}

.language {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  border: 8px solid #ebebff;
  border-radius: 10px;
}

.see {
  width: 140px;
  height: 52px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #396df2;
  background: #fff;
  border: 2px solid #396df2;
  border-radius: 10px;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 30px;
  cursor: pointer;
}

.aboutmyself {
  width: 327px;
  height: 101px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
}

.my-resume {
  padding: 10px;
  border-radius: 5px;
  color: #396df2;
  border-color: #396df2;
  background-color: white;
}

.aboutme-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  background: white;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.languages-title {
  margin-left: 2px;
  list-style-type: none;
}

.frames {
  display: inline;
  margin-top: 10px;
  box-shadow: 0 1px #dfe1e6;
}

.contact-me {
  background-image: url("images/header-shapes\ mobile.png");
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 25px;
  color: white;
  font-weight: 500;
}

.contact-me h2 {
  margin-left: 10px;
}

.contact-me p {
  margin-left: 10px;
}

.contact-me input {
  border-radius: 5px;
  margin: 10px;
  padding: px;
}

.contact-me textarea {
  margin: 10px;
}

.contact-me button {
  margin-bottom: 20px;
  margin-left: 10px;
}
